@import 'nib/gradients'
@import 'nib/vendor'
vendor-prefixes = o ms moz webkit official
colorFondo = rgba(89, 171, 96, 0.5)
colorFondoCar = linear-gradient(rgba(129, 200, 186, 0.88), #fff, rgba(75, 123, 123, 0.95))

body
	color #000
	font-family verdana
	font-size 16px

.cajaGeneral
	text-align center
	
.cajaHeader
	background rgba(97, 129, 166, 0.05)
	border 2px solid rgba(89, 112, 171, .4)
	border-radius 4px
	box-shadow 6px 6px 16px #aaa
	display inline-block
	margin 1em 0
	padding .5em 1em
	text-align center
		
	.subTitHeader
		color rgba(51, 87, 62, 0.97)
	
	.titHeader
		color rgba(99, 117, 124, 0.7)
	
.verdeA
	background #70aa39

.verdeB
	background #99c335

.verdeC
	background #cde145